body {
	font-family: 'Open Sans', Arial;
	margin: 0px;
	background: #19B5FE;
	color: #156499;
}

#main-title {
	text-align: center;
	font-size: 3em;
}

#no-script {
	position: fixed;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	text-align: center;
	font-size: 5em;
}

#no-script:before {
	content: '';
	display: block;
	height: 30%;
}

/* name picker */
#pick-name-form {
	line-height: 60px;
	margin-bottom: 15px;
	text-align: center;
}

#name-input, #submit-name {
	height: 50px;
	vertical-align: middle;
	padding: 5px;
	margin: 0;
	border: none;
	outline: 2px solid #156499;
	text-align: center;
	font-size: 2em;
	background: rgba(0,0,0,0.1);
	color: #156499;
}

#name-input::-webkit-input-placeholder {
   color: #1B7FC1;
}

#name-input:-moz-placeholder {
   color: #1B7FC1;
}

#name-input::-moz-placeholder {
   color: #1B7FC1;
}

#name-input:-ms-input-placeholder {  
   color: #1B7FC1;
}

#region-picker {
	height: 30px;
	margin-left: 10px;
}

#submit-name {
	margin-left: 10px;
	transition: opacity 0.2s;
}

#submit-name:hover {
	opacity: 0.8;
	transition: opacity 0.2s;
}

/* loading animation */
.loading {
	text-align: center;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
}

.loading > div {
	display: inline-block;
	position: relative;
	height: 20px;
	width: 500px;
	overflow: hidden;
}

@keyframes moveacross {
	0%{opacity:0;right: 540px;}
	20%{opacity:0;}
	30%{opacity:1;}
	70%{opacity:1;}
	80%{opacity:0;}
	100%{opacity:0;right: -60px;}
}

.loading > div > .square {
	position: absolute;
	right: -20px;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	background-color: #156499;
	animation: moveacross 3s linear 0s infinite;
}

.loading > div > .square-2 {
	animation-delay: 0.75s;
}

.loading > div > .square-3 {
	animation-delay: 1.5s;
}

.loading > div > .square-4 {
	animation-delay: 2.25s;
}

/* titles */
.subtitle {
	margin: 0 auto;
	padding: 0 10px;
	display: inline-block;
	font-size: 2em;
	text-align: center;
	cursor: pointer;
}

.subtitle:after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	height: 5px;
	margin-top: 30px;
	background-color: rgba(0,0,0,0.1);
	z-index: -1;
}

/* search form */
#search-form {
	text-align: center;
}

/* filter */
#search-filter > * {
	display: inline-block;
	margin: 5px;
	vertical-align: middle;
}

#search-filter > * > select, #search-filter > * > select > option {
	background-color: transparent;
}

#search-filter > * > select {
	height: 30px;
    overflow: visible;
	border: none;
}

#search-filter > * > select:not([multiple]) {
	width: 130px;
}

#search-filter > * > select > option {
	display: inline-block;
	min-width: 17px;
	height: 20px;
	line-height: 20px;
	padding: 5px 5px 2px 5px;
	border: 2px solid #156499;
	text-align: center;
}

#search-filter > * > select > option + option {
	border-left: none;
}

/* sort */
#search-sort-stack, #search-sort-unused-criteria {
	display: inline-block;
	width: 220px;
	vertical-align: top;
	margin: 5px;
	cursor: pointer;
}

#search-sort-stack:before, #search-sort-unused-criteria:before {
	text-decoration: underline;
	cursor: default;
}

#search-sort-stack:before {
	content: 'Sorting order';
}

#search-sort-unused-criteria:before {
	content: 'Sort criteria';
}

#search-sort-stack {
	text-align: right;
}

#search-sort-unused-criteria {
	text-align: left;
}

/* separator */
#content:before, #content:after {
	display: block;
	content: '';
	margin-top: 15px;
}

#content:not(:empty):before, #content:not(:empty):after {
	margin: 30px 100px;
	height: 3px;
	background: rgba(0,0,0,0.1);
}

/* group */
#search-group > select {
	height: 30px;
}

/* content */
#content {
	text-align: center;
}

/* masteries groups */
.group {
    margin: 0 auto;
}

/* masteries */
.mastery-element {
	position: relative;
	display: inline-block;
	width: 100px;
	text-align: center;
	font-size: 0;
}

.champion-icon {
	display: inline-block;
	position: relative;
	width: 90px;
	height: 90px;
	overflow: hidden;
	border: 2px solid black;
	border-radius: 2px;
}

.champion-icon > img:first-child {
	position: absolute;
	left: -5px;
	top: -5px;
	width: 100px;
	height: 100px;
}

.free-champion > .champion-icon:after {
	content: 'FREE';
	position: absolute;
	right: -34px;
	bottom: 6px;
	width: 100%;
	height: 10px;
	line-height: 10px;
	background-color: #19B5FE;
	transform: rotate(-45deg);
	border: 1px solid;
	font-size: 10px;
	z-index: 13;
}

.mastery-icon {
	width: 45px;
	height: auto;
}

.champion-name {
	font-size: 16px;
}

.mastery-info {
    position: absolute;
    left: 4px;
    top: 1px;
	width: 92px;
    height: 92px;
    line-height: 30px;
    background-color: rgba(0,0,0,0.6);
    font-weight: bold;
    font-size: 14px;
	color: #19B5FE;
	cursor: default;
	display: none;
}

.champion:hover + .mastery-info, .mastery-info:hover {
	display: block;
}

/* footer */
#footer {
	margin: 5px;
}